body {
    font-family: "Raleway", sans-serif;
  }

  
  #Hero-Section {
    
    background-image: url("../img/elec.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    margin-top: 100px;
    border-image-width: 50px;

    
    
  }
  
  
  #Contacto form label {
    font-weight: 500;
    color: #373a3c;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 900px;
    }
  
  }
  